

$color-primary :#3AB6F9;



$color-primary-light :#54baf1;
$color-primary-dark : #076BC3;



$color-primary-light :#3baae6;
$color-primary-dark : #076bc3;


$color-primary-img-light :#7ed56f;
$color-primary-img-dark : #28b485;



$color-gradient-1:#0ea0ef9f;
$color-gradient-2:#076bc3cc;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;

$color-secondary-light : #ffb900;
$color-secondary-dark : #ad5728;  


$color-grey-dark : #777;
$color-grey-dark1 : rgb(34, 33, 33);


$color-secondary-dark : #ff7730;  
 
$color-white : #fff;  
$color-dark : #000;
$color-dark-shadow : #6a63c9af;




$color-tertiary-light : #2998ff;
$color-tertiary-dark : #5643fa;
